@import url('./reset.css');
@import url('./variable.css');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}
main{
    margin:2.16rem;
}
li{
    color:#fff;
    padding:4.16rem;
    list-style: none;
}
@media screen and (min-width:31.24rem) {
    ul{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
    }
    li{
        min-height: 35.75rem;
        border-radius: 0;
    }
    p{
        min-height:14.5rem ;
    }
}
li:first-of-type{
 background-color: hsl(31, 77%, 52%);
 border-top-left-radius: 0.33rem;
 border-top-right-radius: 0.33rem;
}
li:first-of-type a{
    color: hsl(31, 77%, 52%);
}
li:nth-child(2){
 background-color: hsl(184, 100%, 22%);
}
li:nth-child(2) a{
    color: hsl(184, 100%, 22%);
}
li:nth-child(3){
 background-color: hsl(179, 100%, 13%);
 border-bottom-left-radius: 0.33rem;
 border-bottom-right-radius: 0.33rem;
}
li:nth-child(3) a{
    color: hsl(179, 100%, 13%);
}
li a{
    text-decoration: none;
    background-color: #fff;
    padding:1.33rem;
    margin-top:2.5rem;
    border: 0.16rem solid #fff;
    border-radius:2.5rem ;
    font-size: 1.25rem; 
    transition: background 2s, color 2s;
}
li a:hover{
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
}
li:first-of-type a:hover{
    background-color: hsl(31, 77%, 52%);
}
li:nth-child(2) a:hover{
    background-color: hsl(184, 100%, 22%);
   }
li:nth-child(3) a:hover{
    background-color: hsl(179, 100%, 13%);
}
p{
    margin-top:3.33rem;
    font-size: 1.25rem;
}